.gallery-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.gallery-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.card-image {
    width: 100%;
    margin: 0px;
    object-fit: cover;
    max-height: 165px;
}






.gallery-details {
    margin-top: 10px;
}

.gallery-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.gallery-description {
    margin-bottom: 10px;
}

.gallery-author {
    margin-bottom: 5px;
}

.gallery-created-at {
    color: #888;
}